block vars

doctype html
html(lang=locale)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana
    style.
      /* INTER UI FONT */
      /* INTER UI FONT */
      /* INTER UI FONT */
      /* INTER UI FONT */
      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 100;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Thin-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Thin-BETA.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 100;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ThinItalic-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ThinItalic-BETA.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 200;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraLight-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraLight-BETA.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 200;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraLightItalic-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraLightItalic-BETA.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 300;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Light-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Light-BETA.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 300;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-LightItalic-BETA.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-LightItalic-BETA.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 400;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Regular.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Regular.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 400;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Italic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Italic.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 500;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Medium.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Medium.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 500;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-MediumItalic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-MediumItalic.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 600;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-SemiBold.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-SemiBold.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 600;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-SemiBoldItalic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-SemiBoldItalic.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 700;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Bold.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Bold.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 700;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-BoldItalic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-BoldItalic.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 800;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraBold.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraBold.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 800;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraBoldItalic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-ExtraBoldItalic.woff") format("woff");
      }

      @font-face {
        font-family: 'Inter UI';
        font-style:  normal;
        font-weight: 900;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Black.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-Black.woff") format("woff");
      }
      @font-face {
        font-family: 'Inter UI';
        font-style:  italic;
        font-weight: 900;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-BlackItalic.woff2") format("woff2"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-BlackItalic.woff") format("woff");
      }

      /* --------------------------------------------------------------------------
      Single variable font.

      Note that you may want to do something like this to make sure you're serving
      constant fonts to older browsers:
      html {
        font-family: 'Inter UI', sans-serif;
      }
      @supports (font-variation-settings: normal) {
        html {
          font-family: 'Inter UI var', sans-serif;
        }
      }

      BUGS:
      - Safari 12.0 will default to italic instead of regular when font-weight
        is provided in a @font-face declaration.
        Workaround: Use "Inter UI var alt" for Safari, or explicitly set
        `font-variation-settings:"slnt" DEGREE`.
      */
      @font-face {
        font-family: 'Inter UI var';
        font-weight: 100 900;
        font-style: oblique 0deg 10deg;
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI.var.woff2") format("woff2-variations"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI.var.woff2") format("woff2");
      }

      /* --------------------------------------------------------------------------

      "Inter UI var alt" is recommended for Safari and Edge, for reliable italics.

      @supports (font-variation-settings: normal) {
        html {
          font-family: 'Inter UI var alt', sans-serif;
        }
      }

      @font-face {
        font-family: 'Inter UI var alt';
        font-weight: 100 900;
        font-style: normal;
        font-named-instance: 'Regular';
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-upright.var.woff2") format("woff2 supports variations(gvar)"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-upright.var.woff2") format("woff2-variations"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-upright.var.woff2") format("woff2");
      }
      @font-face {
        font-family: 'Inter UI var alt';
        font-weight: 100 900;
        font-style: italic;
        font-named-instance: 'Italic';
        src: url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-italic.var.woff2") format("woff2 supports variations(gvar)"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-italic.var.woff2") format("woff2-variations"),
            url("#{uiPublicUrl}/fonts/inter_ui/Inter-UI-italic.var.woff2") format("woff2");
      }
      */

      /* ROBOTO MONO FONTS */
      /* ROBOTO MONO FONTS */
      /* ROBOTO MONO FONTS */
      /* ROBOTO MONO FONTS */
      /* ROBOTO MONO FONTS */
      @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 400;
        src: local('Roboto Mono Italic'), local('RobotoMono-Italic'), url("#{uiPublicUrl}/fonts/roboto_mono/RobotoMono-Italic.ttf") format('ttf');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: 'Roboto Mono';
        font-style: italic;
        font-weight: 700;
        src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'), url("#{uiPublicUrl}/fonts/roboto_mono/RobotoMono-BoldItalic.ttf") format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto Mono'), local('RobotoMono-Regular'), url("#{uiPublicUrl}/fonts/roboto_mono/RobotoMono-Regular.ttf") format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 700;
        src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url("#{uiPublicUrl}/fonts/roboto_mono/RobotoMono-Bold.ttf") format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    //- Favicons (generated from http://realfavicongenerator.net/)
    link(
      rel='apple-touch-icon' sizes='180x180' href=`${uiPublicUrl}/favicons/apple-touch-icon.png`
    )
    link(
      rel='icon' type='image/png' href=`${uiPublicUrl}/favicons/favicon-32x32.png` sizes='32x32'
    )
    link(
      rel='icon' type='image/png' href=`${uiPublicUrl}/favicons/favicon-16x16.png` sizes='16x16'
    )
    link(
      rel='manifest' href=`${uiPublicUrl}/favicons/manifest.json`
    )
    link(
      rel='mask-icon' href=`${uiPublicUrl}/favicons/safari-pinned-tab.svg` color='#e8488b'
    )
    link(
      rel='shortcut icon' href=`${uiPublicUrl}/favicons/favicon.ico`
    )
    meta(
      name='msapplication-config' content=`${uiPublicUrl}/favicons/browserconfig.xml`
    )
    meta(
      name='theme-color' content='#ffffff'
    )

    style.
      .kibanaWelcomeView {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #FFFFFF;
      }

      .kibanaWelcomeLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        /* SVG optimized according to http://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OSIgaGVpZ2h0PSI2NCIgdmlld0JveD0iMCAwIDQ5IDY0Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPHBhdGggZmlsbD0iIzNFQkVCMCIgZD0iTTEuNDE2MzE1NzMsNjQgTDQ4LjY0MDA4MTEsNjQgQzQ4LjY0MDA4MTEsNTEuMTI2NCA0MS4yMzYyNjI0LDM5LjY4NDggMjkuNzQ3NDk0NCwzMi4zNzA0IEwxLjQxNjMxNTczLDY0IFoiLz4KICAgIDxwYXRoIGZpbGw9IiMzN0E1OTUiIGQ9Ik0wLDQxLjYgTDAsNjQgTDMuMDM3NTY4LDY0IEwyOS43NTA2NTYsMzIuMzY1NiBDMjcuOTI1ODQ1MywzMS4yMDMyIDI1Ljk5MjQwNTMsMzAuMTUyIDIzLjk3NTQ2NjcsMjkuMjA4IEwwLDQxLjYgWiIvPgogICAgPHBhdGggZmlsbD0iIzM1MzUzNCIgZD0iTTAsMjAuOCBMMCw1Ny42IEwyMy45Nzk1MiwyOS4yMDMyIEMxNi45MDA3Nzg3LDI1Ljg5NzYgMjQuOTM1Mjk2LDIyLjQgMTYuMjEzMzMzMywyMi40IEwwLDIwLjggWiIvPgogICAgPHBhdGggZmlsbD0iI0U5NDc4QiIgZD0iTTQ4LjY0LDAgTDAsMCBMMCwyNCBDOC43MjE5NjI2NywyNCAxNi45MDA3Nzg3LDI1Ljg5NzYgMjMuOTc5NTIsMjkuMjAzMiBMNDguNjQsMCBaIi8+CiAgPC9nPgo8L3N2Zz4K");
      }

    block head

    //- Load EUI component styles here. Kibana's styles are loaded afterwards by webpack, which is
    //- good because we may use them to override EUI styles.
    style#themeCss

  body
    kbn-injected-metadata(data=JSON.stringify(injectedMetadata))
    block content
