-
  var appName = 'kibana';

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana

    //- Favicons (generated from http://realfavicongenerator.net/)
    link(
      rel='apple-touch-icon' sizes='180x180' href='#{kibanaPayload.basePath}/ui/favicons/apple-touch-icon.png'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-32x32.png' sizes='32x32'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-16x16.png' sizes='16x16'
    )
    link(
      rel='manifest' href='#{kibanaPayload.basePath}/ui/favicons/manifest.json'
    )
    link(
      rel='mask-icon' href='#{kibanaPayload.basePath}/ui/favicons/safari-pinned-tab.svg' color='#e8488b'
    )
    link(
      rel='shortcut icon' href='#{kibanaPayload.basePath}/ui/favicons/favicon.ico'
    )
    meta(
      name='msapplication-config' content='#{kibanaPayload.basePath}/ui/favicons/browserconfig.xml'
    )
    meta(
      name='theme-color' content='#ffffff'
    )

    block head
  body(kbn-chrome, id='#{appName}-body')
    kbn-initial-state(data=JSON.stringify(kibanaPayload))
    block content
