//-
  THIS FILE HAS BEEN MODIFIED FROM THE ORIGINAL SOURCE
  This comment only applies to modifications applied after the f421eec40b5a9f31383591e30bef86724afcd2b3 commit

  Copyright 2020 LogRhythm, Inc
  Licensed under the LogRhythm Global End User License Agreement,
  which can be found through this page: https://logrhythm.com/about/logrhythm-terms-and-conditions/

extends ./chrome

block content
  style.
    * {
      box-sizing: border-box;
    }

    body, html {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #{darkMode ? '#25262E' : '#F5F7FA'};
    }
    .kibanaWelcomeView {
      background-color: #{darkMode ? '#25262E' : '#F5F7FA'};
      width: 100vw;
      height: calc(100vh - 50px);
      display: flex;
      align-items: center;
    }

    .kibanaWelcomeTitle {
      color: #000;
      font-size: 20px;
      font-family: Sans-serif;
      margin-top: 20px;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 1.0s;
    }

    .kibanaWelcomeText {
      font-size: 14px;
      font-family: Sans-serif;
      color: #98A2B3;
      animation: fadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      animation-delay: 1.0s;
    }

    .kibanaLoaderWrap {
      height: 128px;
      width: 128px;
      position: relative;
      margin-top: 40px;
    }

    .kibanaLoaderWrap + * {
      margin-top: 24px;
    }

    .kibanaWelcomeLogoCircle {
      position: absolute;
      left: 4px;
      top: 4px;
      width: 120px;
      height: 120px;
    }

    .kibanaWelcomeLogo {
      background-image: url("#{uiPublicUrl}/images/LR.gif");
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: scale(.1);
      }
      80% {
        opacity: .5;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

  .kibanaWelcomeView(id="kbn_loading_message", data-test-subj="kbnLoadingMessage")
    .kibanaLoaderWrap
      .kibanaLoader
      .kibanaWelcomeLogoCircle
        .kibanaWelcomeLogo
    .kibanaWelcomeText(data-error-message=i18n('common.ui.welcomeErrorMessage', { defaultMessage: 'NetMon did not load properly. Check the server output for more information.' }))
      | #{i18n('common.ui.welcomeMessage', { defaultMessage: 'Loading NetMon' })}

  .kibanaWelcomeView(id="kbn_legacy_browser_error", style="display: none;")
    .kibanaLoaderWrap
      .kibanaWelcomeLogoCircle
        .kibanaWelcomeLogo
    h2.kibanaWelcomeTitle
      | #{i18n('common.ui.legacyBrowserTitle', { defaultMessage: 'Please upgrade your browser' })}
    .kibanaWelcomeText
      | #{i18n('common.ui.legacyBrowserMessage', { defaultMessage: 'This NetMon installation has strict security requirements enabled that your current browser does not meet.' })}

  script.
    // Since this is an unsafe inline script, this code will not run
    // in browsers that support content security policy(CSP). This is
    // intentional as we check for the existence of __kbnCspNotEnforced__ in
    // bootstrap.
    window.__kbnCspNotEnforced__ = true;
  script(src=bootstrapScriptUrl)
